area51/
bin/
env/
include/
lib/
share/

paraview.app/

paraview/build/
pcl/build/

python/pcl/build/
python/pcl/_pcl.cpp
python/pcl/_pcl.cpp.old
python/pcl/_pcl.so
python/pcl/io/_io.cpp
python/pcl/io/_io.so
python/pcl/filters/_filters.cpp
python/pcl/filters/_filters.so

*.pyc
*.log
*~
